/****************************************
* Cadre photo
****************************************/
#cv-entete { 
    padding-top: 15px;
    width: 100%;
}

#cv-photo { width: 172px; 
            height: 172px; 
            border-radius: 50%; 
            overflow: hidden; 
            padding: 5px;
            background: #0000004a; 
            display: inline-block; 
}

#cv-photo img { width: 160px; 
                height: 160px; 
                border-radius: 50%; 
}

#cv-intro h1 { margin: 0; 
               padding: 0;
               font-size: 2.4em; 
               font-weight: 700;
               letter-spacing: -1px;
}

#cv-intro h1 span { color: rgb(226,0,26); }

#content #cv-entete {
    display: none;
}

@media screen and (max-width: 992px) {
    nav #cv-entete {
        display: none;
    }

    #content #cv-entete {
        display: block;
    }
}

/****************************************** * Me contacter ******************************************/
.meContacter {
	clear: both;
}

.meContacter .details {
	width: 100%;
	margin-left: 10px;
	margin-top: 3px;
	font-size: 1.5em;
	font-weight: 700;
	justify-content: space-between;
}

.contact-icon {
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-ms-filter: grayscale(1);
	-o-filter: grayscale(1);
	height: 32px;
	width: 32px;
	margin: 2px 0;
}

.meContacter a,
.meContacter a:hover {
	text-decoration: none;
	color: black;
}

.meContacter a:hover > img {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-o-filter: grayscale(0);
}