/****************************************
* Style
****************************************/
body {
    font-family: 'Poppins', sans-serif !important;
}

.nopadding {
    padding: 0px !important;
}

/****************************************
* Background
****************************************/
.img-1 {
    background-image: url(images/background.jpg);
    background-attachment: scroll;
}

.box-lg{
    margin: 0px auto; 
    max-width: 1100px; 
    padding: 15px;
}

.box-all{
    margin: 0px auto; 
    width: 100%; 
    padding: 15px;
}

.cardbox{
    margin: 0px auto; 
    width: 100%; 
    padding: 15px;
    background-color: rgba(0, 174, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0px 16px 50px 21px rgba(2,0,255,0.3);
}

.cardbox:nth-child(n + 2) {
	margin-top: 20px;
}

/****************************************
* Text Edit
****************************************/

.underline {
    text-decoration: underline;
}


/****************************************
* Border
****************************************/
/*Taille de la bordure*/
.border-sm {
    border-width: 10px !important
}

.border-xsm {
    border-width: 5px !important
}


/*Color border */
.border-blue {
    border-style: ridge !important;
    border-color: rgba(50, 61, 220, 0.6) !important;
}

.border-black {
    border-style: ridge !important;
    border-color: rgba(0, 0, 0, 0.6) !important;
}

.border-red {
    border-style: ridge !important;
    border-color: rgba(255, 0, 0, 1) !important;
}

.border-rainbow {
    border-style: ridge !important;
    border-right: 5px !important;
    border-left: 5px !important;
    border-radius: 10%;
    animation-name: rainbow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    padding-top: 10px !important;
}

/* The animation code for rainbow border */
@keyframes rainbow {
    0%   {border-color: red;}
    10%  {border-color: yellow;}
    20%  {border-color: lightblue;}
    30%  {border-color: blue;}
    40%  {border-color: blueviolet;}
    50%  {border-color: violet;}
    60%  {border-color: pink;}
    70%  {border-color: orange;}
    80%  {border-color: maroon;}
    90%  {border-color: rgb(0, 255, 34);}
    100% {border-color: green;}
  }