body {
    font-family: 'Poppins', sans-serif !important;
}

.nopadding {
    padding: 0px !important;
}


.img-1 {
    background-image: url(images/background.jpg);
    background-attachment: scroll;
}

.box-lg{
    margin: 0px auto; 
    max-width: 1100px; 
    padding: 15px;
}

.box-all{
    margin: 0px auto; 
    width: 100%; 
    padding: 15px;
}

/*Text edit*/

.underline {
    text-decoration: underline;
}


/*Utilisation de bordure*/
/*Taille de la bordure*/
.border-sm {
    border-width: 10px !important
}

/*couleur*/
.border-blue {
    border-style: ridge !important;
    border-color: rgba(50, 61, 220, 0.6) !important;
}

.border-black {
    border-style: ridge !important;
    border-color: rgba(0, 0, 0, 0.6) !important;
}

.border-red {
    border-style: ridge !important;
    border-color: rgba(255, 0, 0, 1) !important;
}
