.jumbotron{
    background-image: url(images/background.jpg); 
    background-attachment: scroll;
}

.box-lg{
    margin: 0px auto; 
    max-width: 1000px; 
    background: white; 
    border-radius: 60px; 
    border: 10px ridge rgba(50, 61, 220, 0.6);
    padding: 15px;
}