<div id="home-skill-content" class="rubrique clearfix">
	<div class="row justify-content-end">
		<div class="row">
			<div id="langues" class="col-lg-6 rubrique clearfix">
				<h2 class="underline"><span class="fa fa-flag"></span> Langue</h2>
				<div class="container">
					<div class="langue">Français</div>
					<div class="niveau">
						<span class="badge badge-dark">A1</span>
						<span class="badge badge-dark">A2</span>
						<span class="badge badge-dark">B1</span>
						<span class="badge badge-dark">B2</span>
						<span class="badge badge-primary">C1</span>
						<span class="badge badge-dark">C2</span>
					</div>
				</div>
				<div class="container">
					<div class="langue">Anglais</div>
					<div class="niveau">
						<span class="badge badge-dark">A1</span>
						<span class="badge badge-dark">A2</span>
						<span class="badge badge-dark">B1</span>
						<span class="badge badge-primary">B2</span>
						<span class="badge badge-dark">C1</span>
						<span class="badge badge-dark">C2</span>
					</div>
				</div>
			</div>
			<div id="competences" class="col-lg-6 rubrique clearfix">
				<h2 class="underline">
					<span class="fa fa-wrench"></span> Compétences
				</h2>
				<div class="container">
					<div class="libelle">Intégration web</div>
					<div class="classement classement3"></div>
				</div>
				<div class="container">
					<div class="libelle">Dév. web</div>
					<div class="classement classement4"></div>
				</div>
				<div class="container">
					<div class="libelle">Orienté Objet</div>
					<div class="classement classement2"></div>
				</div>
				<div class="container">
					<div class="libelle">administrateur réseaux</div>
					<div class="classement classement3"></div>
				</div>
				<div class="container">
					<div class="libelle">Texurisation 3D</div>
					<div class="classement classement2"></div>
				</div>
				<div id="langue_prog">
					<h4 class="text-primary underline">
						<span class="fa fa-at"></span> Langues de programmation
					</h4>
					<div class="container pl-5">
						<div class="libelle">Python</div>
						<div class="classement classement4"></div>
					</div>
					<div class="container pl-5">
						<div class="libelle">Java</div>
						<div class="classement classement1"></div>
					</div>
					<div class="container pl-5">
						<div class="libelle">VBA</div>
						<div class="classement classement4"></div>
					</div>
					<div class="container pl-5">
						<div class="libelle">C++</div>
						<div class="classement classement0"></div>
					</div>
					<div class="container pl-5">
						<div class="libelle">C#</div>
						<div class="classement classement0"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
