<div id="cv-entete" class="text-center text-light pt-6">
    <div id="cv-photo">
        <img src="/images/identiter.jpg" alt="Ma photo d'identité">
    </div>
    <div id="cv-intro">
        <h5>Lucas</h5>
        <h5>[ <span class="dyn-text-owner"></span>]</h5>
    </div>
    <div class="contact row">
        <div class="col meContacter">
            <div class="float-left">
                <a href="mailto:lucasfox@outlook.fr?subject=Contact depuis le CV en ligne" title="Mail de Lucas Bruel">
                    <img class="contact-icon" src="/images/cv/mail-dreamstale47.png" alt="Icone de mail">
                </a>
            </div>
        </div>
        <div class="col meContacter">
            <div class="float-left">
                <a href="https://github.com/Lurius-Kitsune" title="Lien vers le profil GitHub de Lucas Bruel">
                    <img class="contact-icon" src="/images/cv/github2-dreamstale35.png" alt="Icone de GitHub">
                </a>
            </div>
        </div>
        <div class="col meContacter">
            <div class="float-left">
                <a href="https://www.linkedin.com/in/lucas-bruel-547179278/" title="Lien vers le profil GitHub de Lucas Bruel">
                    <img class="contact-icon" src="/images/cv/linkedin-dreamstale45.png" alt="Icone de Linkdin">
                </a>
            </div>
        </div>
    </div>
</div>

